h1 {
  font-family: Arial, sans-serif;
  color: #333;
  margin-bottom: 15px;
  margin-top: 25px;
}

section.form {
  max-width: 450px;
  padding: 20px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  margin-bottom: 40px;
  font-family: Arial, sans-serif;
}

section.form div {
  margin-bottom: 15px;
}

label {
  display: inline-block;
  width: 90px;
  font-weight: bold;
  color: #444;
}

input[type="text"] {
  padding: 8px;
  width: 250px;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: 0.2s;
}

input[type="text"]:focus {
  border-color: grey;
  box-shadow: 0 0 4px rgba(0,123,255,0.4);
  outline: none;
}


button {
  background: lightgray;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.2s;
}

button:hover {
  background:grey;
  transform: translateY(-2px);
}

button:active {
  transform: scale(0.95);
}


table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

thead {
  background: #f3f3f3;
}

th {
  padding: 12px;
  border-bottom: 2px solid #ddd;
  text-align: left;
  color: #333;
}

tbody th {
  font-weight: normal;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

tr:hover {
  background: #f9f9f9;
}
